.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.board-container {
  padding: 32px;
}
.board {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.board-title {
  text-align: center;
  margin: 20px 0;
}